*{
    margin: 0%;
    padding: 0%;
}
html {
    scroll-behavior: smooth;
}
@media (max-width: 1200px) {
    .hero {
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: burlywood;
        width: 100%;
        height: auto;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .text{
        padding: 1rem;
        text-align:left;
    }
    .title {
      font-size: 2.8rem;

    }
  
    .subtitle {
      font-size: 1.4rem;
    }
  
    .h-img {
        padding: 1rem;
        width: 100%;
        border-radius: 1.8rem;
        max-width: 45rem;
        height: auto;
    }
  
    .services, .work {
      width: 60%;
    }
  
    
  }

@media (max-width: 480px) {
    .title {
      font-size: 1.8rem;
    }
  
    .subtitle {
      font-size: 1rem;
    }
  
    .h-img {
      max-width: 20rem;
    }
  
    .services, .work {
      width: 100%;
    }
  
    .cards {
      width: 100%;
    }
  
    .bc, .os {
      font-size: 0.9rem;
      padding: 0.5rem;
    }
  }
.hero{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: burlywood;
    width: 100%;
    height: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.text{
    display: flex;
    flex-direction: column;
    height: fit-content;
}
.title{
    font-family: oswald;
    font-weight: 600;
    font-size:3rem;
}
.subtitle{
    margin-top: 1rem;
    font-family: "Source Sans 3";
    /* font-weight: 200; */
    font-size:1.3rem;
}
button{
    font-family:"Source Sans 3";
    font-size: medium;
    padding: 0.75rem;
    border-radius: 0.7rem;
    font-weight: 600;
}
.bc, .os{
    margin-top: 1.5rem;
    border-radius: 1.5rem;
}
.bc{
    background-color:beige;
}
.os{
    background-color: burlywood;
    border: 2px solid beige;
    color: beige;
}
.img{
    align-self: center;
    
}
.h-img{
    width: 100%;
    border-radius: 1.5rem;
    max-width: 40rem;
    height: auto;
}
.services-container,.work-container{
    height: auto;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    padding: 1rem 1rem 0;
}
.services, .work{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    width: 100%;
}
h1,p{
    position: relative;
    text-align: center;
    margin: 1rem;
}
h1{
    font-family: oswald;
    font-size: xx-large;
}
p{
    font-family: "Source Sans 3";
    font-size: large;
}
i{
    font-size: 1.5rem;
    padding:1rem 0 0.5rem 1rem;
} 
.cards {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    display: inline-block;
    border: 2px solid black;
    height: 13.5rem;
    width: 20rem;
    background-color: azure;
    border-radius: 1rem;
    margin-bottom: 2rem;
    margin-left: 0.8rem;
    margin-right: 0.8rem;
    -webkit-box-shadow: 10px 13px 52px -21px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 13px 52px -21px rgba(0,0,0,0.75);
    box-shadow: 10px 13px 52px -21px rgba(0,0,0,0.75);
    cursor: pointer;
}
.services .cards{
    padding: 1rem;
}
.redirect-services{
    color: inherit;
    text-decoration: none;
}
.services .cards:hover {
    transform: scale(1.05);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    background-color: #fcfddd;
}

.title-card{
    padding: 2%;
    font-family: oswald;
    font-size: x-large;
    font-weight: 600;
}
.subtitle-card{
    padding: 2%;
    font-family: "Source Sans 3";
}

.view-more{
    text-align: center;
    font-size: medium;
}
.arrow{
    font-size: small;
}
.work-container{
    background-color: black;
    color: aliceblue;
}
.work-card img{
    border: 2px solid snow;
    border-radius: 1rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.add-card{
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    color: black;
    font-size: 2rem;
    display: inline-block;
    border: 2px dashed black;
    height: 13.5rem;
    width: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(202, 202, 202);
    border-radius: 1rem;
    margin-bottom: 2rem;
    margin-left: 0.8rem;
    margin-right: 0.8rem;
    -webkit-box-shadow: 10px 13px 52px -21px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 13px 52px -21px rgba(0,0,0,0.75);
    box-shadow: 10px 13px 52px -21px rgba(0,0,0,0.75);
}
.add-link{
    text-decoration: none;
}
.add-card:hover {
    transform: scale(1.05);
}
.close-btn {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 20px;
    height: 20px;
    background-color: black;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    cursor: pointer;
    z-index: 1;
}
.work-card .close-btn{
    background-color: white ;
    color:black;
    top: -9.5px;
    right: -9.5px;
}

/* cta */
.whatsapp-float {
    position: fixed;
    bottom: 20px;
    right: 20px; 
    background-color: #25d366;
    color: white;
    font-size: 2rem;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    text-decoration: none;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor:pointer;
  }
  
  .whatsapp-float:hover {
    transform: scale(1.1);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.4);
  }
  
  .whatsapp-float i {
    font-size: 2rem;
    padding: 0;
  }
  

