<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>About Us - Sunrise Events</title>
    <link rel="icon" type="image/x-icon" href="/logo.ico">
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mrs+Saint+Delafield&family=Pacifico&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
      </style>
      <style>
          @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Mrs+Saint+Delafield&family=Pacifico&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
          </style>
    <link rel="stylesheet" href="/aboutus.css" />
    <%-include('./includes/navbar/nav-header');-%>
    <%-include('./includes/footer/footer-head');-%>
  </head>

  <body>
    
    <div class="hero">
      <div class="navbar-layout">
        <%- include('./includes/navbar/nav-body');-%>
      </div>
      <br>
      <div class="text-parent">
        <div class="text">
          <span class="title">
            About Sunrise Events</span
          ><br>
          <p class="subtitle">
            Founded in 2017, Sunrise Events has grown into one of Surat’s premier event management companies, 
            transforming dreams into reality with creativity, precision, and flawless execution. 
            Under the leadership of our CEO, Mr. Vaseem Akram, we have successfully organized over 80 breathtaking weddings,
             100 grand themed birthday parties, and 150 memorable engagements, ensuring every event is nothing short of extraordinary.
            <br><br>
            With an ambitious vision to expand to a Pan-India Production Level, we 
            remain dedicated to delivering top-tier event planning services that blend innovation with excellence.
             Whether it’s an intimate gathering, a lavish wedding, or a large-scale celebration, we take pride in crafting 
             unforgettable experiences that leave a lasting impression.
            <br><br>
            <i class='bx bxs-map'></i> Based in Surat, we are committed to making every occasion a cherished memory, turning moments into milestones with heartfelt dedication and seamless execution.
          </p>
  
      </div>
      </div>
    </div>
    <%-include('./includes/footer/footer-body');-%>
</body>
