<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./includes/navbar/nav-header');-%>
    <%-include('./includes/footer/footer-head');-%>
    <title>Booking</title>
</head>
<body>
    <%- include('./includes/navbar/nav-body');-%>
    <!-- Calendly inline widget begin -->
    <div class="calendly-inline-widget" id="booking" data-url="https://calendly.com/gopallsharma93/book-a-consultation?background_color=eeebd7&primary_color=696D7D" style="min-width: 320px; height: 700px">
      <div class="spinner" id="spinner"></div>
    </div>
    <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async defer></script>
    <!-- Calendly inline widget end -->
    <%-include('./includes/footer/footer-body');-%>
</body>
</html>