<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/contact.css" />
    <%-include('./includes/navbar/nav-header');-%>
    <%-include('./includes/footer/footer-head');-%>
  </head>

  <body>
    
    <div class="hero">
      <div class="navbar-layout">
        <%- include('./includes/navbar/nav-body');-%>
      </div>
      <div class="text-parent">
        <div class="text">
          <span class="title"
            >Get in Touch With Us</span
          >
          <span class="subtitle">
            Need help planning your next event? Look no further than Sunrise Events Surat!<br>
            We can provide everything you need to ensure your event is a success. </span
          >
          <div class="hero-form">
              <div class="icons">
                <a href="tel:6265366651">
                  <i class='bx bxs-phone'></i>
                </a>
                Call Us: +91-6265366651
              </div>
              <div class="icons">
                <a href="https://wa.me/916265366651" target="_blank">
                  <i class='bx bxl-whatsapp' ></i>
                </a>
                Whatsapp: +91-6265366651
              </div>
              <div class="icons">
                <a href="mailto:sunriseevents.in@gmail.com" target="_blank">
                  <i class='bx bxl-gmail' ></i>
                </a>
                Email Us: sunriseevents.in@gmail.com
              </div>
              <div class="icons">
                <a href="https://www.instagram.com/sunriseevents.in?igsh=MTJuZXdoMnVvcGNxZw==" target="_blank">
                  <i class='bx bxl-instagram' ></i>
                </a>
                Instagram: @sunriseevents.in
              </div>
          </div>
      </div>
      </div>
    </div>
</body>
