<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/contact.css" />
    <title>Contact Us - Sunrise Events</title>
    <link rel="icon" type="image/x-icon" href="/logo.ico">
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mrs+Saint+Delafield&family=Pacifico&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
      </style>
      <style>
          @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Mrs+Saint+Delafield&family=Pacifico&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
          </style>
    <%-include('./includes/navbar/nav-header');-%>
    <%-include('./includes/footer/footer-head');-%>
  </head>

  <body>
    
    <div class="hero">
      <div class="navbar-layout">
        <%- include('./includes/navbar/nav-body');-%>
      </div>
      <div class="text-parent">
        <div class="text">
          <span class="title"
            >Get in Touch With Us</span
          >
          <span class="subtitle">
            Need help planning your next event? Look no further than Sunrise Events Surat!<br>
            We can provide everything you need to ensure your event is a success. </span
          >
          <div class="hero-form">
              <div class="icons">
                <a href="tel:xxxxxxxxxx">
                  <i class='bx bxs-phone'></i>
                </a>
                Call Us: +91-xxxxxxxxxx
              </div>
              <div class="icons">
                <a href="https://wa.me/91xxxxxxxxxx" target="_blank">
                  <i class='bx bxl-whatsapp' ></i>
                </a>
                Whatsapp: +91-xxxxxxxxxx
              </div>
              <div class="icons">
                <a href="mailto:sunriseevents.in@gmail.com" target="_blank">
                  <i class='bx bxl-gmail' ></i>
                </a>
                Email Us: sunriseevents.in@gmail.com
              </div>
              <div class="icons">
                <a href="https://www.instagram.com/sunriseevents.in?igsh=MTJuZXdoMnVvcGNxZw==" target="_blank">
                  <i class='bx bxl-instagram' ></i>
                </a>
                Instagram: @sunriseevents.in
              </div>
              <div class="icons">
                <a href="https://maps.app.goo.gl/uMBoVoWfBqZAyskR6" target="_blank">
                  <i class='bx bxs-map'></i>
                </a>
                Address: Near, 110, Aagam Ochid, Nadani-2, Vesu, Surat, Gujarat 395007.
              </div>
          </div>
      </div>
      </div>
    </div>
</body>
