<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/gallerywed.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Mrs+Saint+Delafield&family=Pacifico&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
        </style>
         <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>wedding Gallery</title>
</head>
<body>
    <!-- <div class="container"> -->
        <div class="container">
        <div class="heading"><h1>Capturing Moments, Creating Memories -The Magic of Sunrise Events!</h1>
        <p>Step into a world of unforgettable celebrations with Sunrise Events! From grand weddings to private parties, our gallery showcases 
            the magic we bring to every occasion in Surat. Each moment is a reflection of meticulous planning, elegant décor, and seamless 
            execution, ensuring memories that last a lifetime. Browse through our curated collection and witness how we turn dreams into reality, 
            one event at a time!</p></div>
    <div class="wedgallery">
        <div class="column">
            <div class="image" data-aos="fade-up"><img src="g1.jpg" alt="wedding pic"></div>
            <div class="image" data-aos="fade-up"> <img src="g2.jpg" alt="wedding pic"></div>
            <div class="image" data-aos="fade-up"> <img src="g3.jpg" alt="wedding pic"></div>
        </div>
        <div class="column">
            <div class="image" data-aos="fade-up"> <img src="g4.jpg" alt="wedding pic"></div>
            <div class="image" data-aos="fade-up"> <img src="g5.jpg" alt="wedding pic"></div>
            <div class="image" data-aos="fade-up"> <img src="g6.jpg" alt="wedding pic"></div>
        </div>
        <div class="column">
            <div class="image" data-aos="fade-up"> <img src="g7.jpg" alt="wedding pic"></div>
            <div class="image" data-aos="fade-up"> <img src="g8.jpg" alt="wedding pic"></div>
            <div class="image" data-aos="fade-up"> <img src="g9.jpg" alt="wedding pic"></div>
        </div>
        <div class="column">
            <div class="image" data-aos="fade-up"> <img src="g10.jpg" alt="wedding pic"></div>
            <div class="image" data-aos="fade-up"> <img src="g11.jpg" alt="wedding pic"></div>
            <div class="image" data-aos="fade-up"> <img src="g12.jpg" alt="wedding pic"></div>
        </div>
        <div class="column">
            <div class="image" data-aos="fade-up"> <img src="g13.jpg" alt="wedding pic"></div>
            <div class="image" data-aos="fade-up"> <img src="g14.jpg" alt="wedding pic"></div>
            <div class="image" data-aos="fade-up"> <img src="g15.jpg" alt="wedding pic"></div>
        </div>
        <div class="column">
            <div class="image" data-aos="fade-up"> <img src="g16.jpg" alt="wedding pic"></div>
            <div class="image" data-aos="fade-up"> <img src="g17.jpg" alt="wedding pic"></div>
            <div class="image" data-aos="fade-up"> <img src="g18.jpg" alt="wedding pic"></div>
        </div>
        <div class="column">
            <div class="image" data-aos="fade-up"> <img src="g19.jpg" alt="wedding pic"></div>
            <div class="image" data-aos="fade-up"> <img src="g20.jpg" alt="wedding pic"></div>
            <div class="image" data-aos="fade-up"> <img src="g21.jpg" alt="wedding pic"></div>
        </div>
        <div class="column">
            <div class="image" data-aos="fade-up"><img src="g22.jpg" alt="wedding pic"></div>
            <div class="image" data-aos="fade-up"><img src="g23.jpg" alt="wedding pic"></div>
            <div class="image" data-aos="fade-up"><img src="g24.jpg" alt="wedding pic"></div>
        </div>
        <div class="column">
            <div class="image" data-aos="fade-up"><img src="g25.jpg" alt="wedding pic"></div>
            <div class="image" data-aos="fade-up"><img src="g26.jpg" alt="wedding pic"></div>
            <div class="image" data-aos="fade-up"><img src="g27.jpg" alt="wedding pic"></div>
        </div>
        <div class="column">
            <div class="image" data-aos="fade-up"> <img src="g28.jpg" alt="wedding pic"></div>
            <div class="image" data-aos="fade-up"> <img src="g29.jpg" alt="wedding pic"></div>
            <div class="image" data-aos="fade-up"> <img src="g30.jpg" alt="wedding pic"></div>   
        </div>
        <div class="column">
            <div class="image" data-aos="fade-up"> <img src="g31.jpg" alt="wedding pic"></div>
            <div class="image" data-aos="fade-up"> <img src="g32.jpg" alt="wedding pic"></div>
            <div class="image" data-aos="fade-up"> <img src="g33.jpg" alt="wedding pic"></div>  
            <div class="image" data-aos="fade-up"> <img src="g34.jpg" alt="wedding pic"></div>
        </div>
    </div>
</div>
    <div class="popupImage">
        <span>&times;</span>
        <div class="image"><img src="g1.jpg" alt="wedding pic"></div>
    </div>



    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init({
        duration : 1000,
        once : true
      });
    </script>

    <script>
        document.querySelectorAll('.wedgallery img').forEach(image =>{
            // document.querySelector('.popupImage').style.display='block';
            image.onclick = () =>{
                document.querySelector('.popupImage').style.display='block';
                document.querySelector('.popupImage img').src = image.getAttribute('src');
            }
        })
        document.querySelector('.popupImage span').onclick = () =>{
            document.querySelector('.popupImage').style.display='none';
        }
    </script>
</body>
</html>
        
        
        

        
        
        
        
            
    