<footer>
        <div class="footerCon">
            <div class="icons">
                <a href="https://www.instagram.com/sunriseevents.in?igsh=MTJuZXdoMnVvcGNxZw==" target="_blank"><i class='bx bxl-instagram' ></i></a>
                <a href="https://www.facebook.com/SunriseEvent.in/" target="_blank"><i class='bx bxl-facebook' ></i></a>
                <a href="https://www.threads.net/@sunriseevents.in" target="_blank"><i class='bx bx-at'></i></a>
                <a href="mailto:sunriseevents.in@gmail.com" target="_blank"><i class='bx bxl-gmail' ></i></a>
            </div>
            <div class="footerNav">
               <ul>
                <li class="left"><a href="#">Back To Top<i class='bx bxs-chevron-up'></i></a></li>
                <li><a href="/">Home</a></li>
                <li class="right"><a href="">Contact Us</a></li>
                <!-- <li><a href="">Address</a></li> -->
               </ul>
            </div>
            <div class="footerBottom">
                <p>Copyright &copy;2025; All rights reserved. Powered by <span class="designer"><a href=""><i>@Sunrise Events</i></a></span></p>
            </div>
        </div>
</footer>  