<footer>
        <div class="footerCon">
            <div class="icons">
                <a href="#"><i class='bx bxl-instagram' ></i></a>
                <a href="#"><i class='bx bxl-facebook' ></i></a>
                <a href="#"><i class='bx bxl-twitter'></i></a>
                <a href="#"><i class='bx bxl-gmail' ></i></a>
            </div>
            <div class="footerNav">
               <ul>
                <li class="left"><a href="#">Back To Top<i class='bx bxs-chevron-up'></i></a></li>
                <li><a href="">Home</a></li>
                <li class="right"><a href="">Contact Us</a></li>
                <!-- <li><a href="">Address</a></li> -->
               </ul>
            </div>
            <div class="footerBottom">
                <p>Copyright &copy;2025; All rights reserved. Powered by <span class="designer"><a href=""><i>@Sunrise Events</i></a></span></p>
            </div>
        </div>
</footer>  