<a class="redirect-services" href="#">
    <div class="cards">
      <a class="close-btn add-link" href="#">×</a>
      <div class="icon"><i class="fa-solid fa-circle-exclamation"></i></div>
      <div class="title-card">Wedding Decoration</div>
      <div class="subtitle-card">
        Transform your special day with our elegant wedding decoration
        services
      </div>
  </a>